name: Over all
on: workflow_dispatch
jobs:
  log:
   runs-on: ubuntu-latest
   steps:
    - run: echo "::error::This is an error"
    - run: echo "::warning::This is a warning"
    - run: echo "::notice::This is a notice"
  upload-artifact:
    runs-on: ubuntu-latest
    steps:
      - run: echo "::notice::[START] Build artifact"
      - run: date > art.txt
      - uses: actions/upload-artifact@v4
        with:
          name: art1
          path: art.txt
          retention-days: 7
      - run: echo "::notice::[END] Build artifact"
  download-artifact:
    runs-on: ubuntu-latest
    needs: [upload-artifact]
    steps:
      - run: echo "::notice::[START] Download artifact"
      - uses: actions/download-artifact@v4
        with:
          name: art1
          path: downloaded
      - run: cat downloaded/art.txt
      - run: echo "::notice::[END] Download artifact"
  bash-tracing:
    runs-on: ubuntu-latest
    steps:
      - run: echo "::notice::[START] Bash tracing"
      - run: |
          set -x
          echo "bash tracing"
      - run: echo "::notice::[END] Bash tracing"
  share-above-steps:
    runs-on: ubuntu-latest
    steps:
      - id: source
        run: echo "result=result-1" >> "${GITHUB_OUTPUT}"
      - env:
          RES="${{ steps.source.outputs.result }}"
        run: echo "::notice::${RES}"
